<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-on:click="switchToPets">Pets</li>
            <li v-on:click="switchToAddPet">Add a Pet</li>
        </ul>
        <component 
            v-bind:pets="pets"
            v-bind:is="activeComponent"
            v-on:add-pet="addPet"
        >
        </component>
    </div>

    <script type="text/x-template" id="pets-component-template">
        <div class="pets">
            <pet-component 
                v-for="(pet, index) in pets" 
                v-bind:key="index"
                v-bind:pet="pet">
            </pet-component>
        </div>
    </script>

    <script type="text/x-template" id="pet-component-template">
        <div class="pet">
            <img v-bind:src="petImage" 
                alt=""
                height="150"
                width="150">
            <p>{{pet.name}}</p>
        </div>
    </script>

    <script type="text/x-template" id="add-pet-component-template">
        <div class="add-pet">
            <input type="text" 
            v-model="name"
            required
            placeholder="Name of your pet"/>
            <label for="type">Choose a type:
        
                <select id="type" v-model="type" required>
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                </select>
            </label>
            <button v-on:click="emitToParent">Submit</button>
        </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>