<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo VueJS</title>
    <link href="./style.css" rel="stylesheet"/>
</head>
<body>
    <div id="app">
        <p>My TODO APP</p>
        <input type="text" 
        v-bind:maxlength="maxLength"
        v-on:keyup.enter="addTodo" v-model="todoTitle"/>
        <h4>Todo title: {{ todoTitle }}</h4>
        <h4>{{ charCount }} / {{ maxLength }}</h4>
        <h4>Todos</h4>

        <ul>
            <li
             v-for="(todoList, index) in todoLists"
             v-bind:class="{ done : todoList.done == true, colour : todoList.isColoured == true}"
             >{{todoList.todo}}

                <button v-on:click="removeTodo(index)">X</button>
                <button v-on:click="completeTodo(index)">Done</button>
                <button v-on:click="changeColour(index)">Change Colour</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>

</body>
</html>