<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- root instance -->
    <div id="app">
        <plus-button 
            v-on:add="number = number + 1" 
            v-on:multiply="number = number * 10"
            v-bind:number-from-parent="number"></plus-button>
        <p>{{number}}</p>
        <minus-button 
            v-on:minus="number = number - 1"
            v-on:divide="number = number / 10"
            v-bind:number-from-parent="number"
        ></minus-button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>